:root {
    --title-text-color: #212121;
    --text-color: #757575;
    --akcent-color: #2196f3;
    --bgc-secondary: #2f303a;
    --logo-header-color: #000000;
    --logo-footer-color: #ffffff;
    --filter-button: #f5f4fa;
    --card-border: #eeeeee;
    --icons-basic-color: #afb1b8;
    --icons-secondary-color: #757575;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --basic-type: "Roboto";
    --additional-type: "Raleway";

}