.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.features__item {
    flex-basis: calc((100% - 90px) / 4);
}

.features__icons {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--filter-button);

    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.features__titie {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features__txt {
    color: var(--text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}