.header {
    border-bottom: 1px solid #ececec;
}

.header__conteiner {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-top: 16px;
    margin-left: 15px;
    margin-bottom: 16px;
    margin-right: 93px;

    @media screen and (min-width: 768px) {
        margin-top: 26px;
            margin-left: 15px;
            margin-bottom: 26px;
    }

    color: var(--logo-header-color);

    font-family:var(--additional-type);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    &--first-logo {
    color: var(--akcent-color);
    font-family:var(--additional-type);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
}

