.nav {
    display: flex;
    margin-right: 0;
}

.nav__list {
    display: flex;
    gap: 50px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--animation);

    &:hover,
&:focus {
    color: var(--akcent-color);
}

&--active {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--akcent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
}

.current::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--akcent-color);
}