.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);

    transition: box-shadow var(--animation);

    &:hover,
    &:focus {
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
     }
}

.portfolio__link:hover .overlay__txt,
.portfolio__link:focus .overlay__txt {
    transform: translateY(0);
}

.overlay {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}

.overlay__txt {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--animation);
}

.work-name {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: var(--logo-footer-color);
}

.portfolio-title {
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: var(--text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}