.contacts {
        // display: flex;
         align-items: baseline;
         flex-direction: column;
        align-content: flex-end;
       

    @media screen and (max-width: 767px) {
            display: none;
        }

    @media screen and (min-width: 768px) {
        
        
    }    
          
     @media screen and (min-width: 1200px) {
             display: flex;
             flex-direction: row;
             margin-left: auto;
             gap: 30px;
        } 
}

.contacts__link {
    display: flex;
    align-items: center;
    color: var(--icons-secondary-color);

   
    color: var(--text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--animation);

    @media screen and (min-width: 1200px) {
         font-size: 14px;
         line-height: 1.14;
         padding-top: 32px;
         padding-bottom: 32px;
    }
    &--mail{
        @media screen and (min-width: 768px) {
          padding-top: 21px;
          padding-bottom: 10px;
        }

        @media screen and (min-width: 1200px) {
         padding-top: 32px;
         padding-bottom: 32px;
        }
        
    }
    &--tel{
        @media screen and (min-width: 768px) {
                padding-bottom: 21px;
            }

        @media screen and (min-width: 1200px) {
             padding-top: 32px;
             padding-bottom: 32px;
            }
       
    }

    &--mail:hover,
    &--tel:hover,
    &--mail:focus,
    &--tel:focus {
    color: var(--akcent-color);
   }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;

    &--mail:hover,
    &--tel:focus {
    fill: currentColor;
   }
}

