.contacts {
    display: flex;
    margin-left: auto;
    gap: 50px;
}

.contacts__link {
    display: flex;
    align-items: center;
    color: var(--icons-secondary-color);

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--animation);

    &--mail:hover,
    &--tel:hover,
    &--mail:focus,
    &--tel:focus {
    color: var(--akcent-color);
   }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;

    &--mail:hover,
    &--tel:focus {
    fill: currentColor;
   }
}

