.menu-btn {
 display: inline-flex;
 align-items: center;
 justify-content: center;

 width: 40px;
 height: 40px;

 background-color: transparent;
 border: none;

 cursor: pointer;

 @media screen and (min-width: 768px) {
    display: none;
    
 }

 &:hover, &:focus{
    fill: var(--akcent-color);
 }
}

.mob-menu{
   position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 796px;

    background-color: white;

    padding: 48px 83px 48px 40px; 

    transform: translateX(100%);
    transition: transform var(--animation);

    @media screen and (min-width: 768px) {
            display: none;
        }

    .mob-menu.is-open {
        transform: translateX(0);
    }
}

.mob-nav{
    margin-bottom: auto;
    padding: 0;
}
.mob-nav__item:not(:last-child){
    margin-bottom: 32px;

}

.mob-nav__link{
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.02em;
    
        color: var(--title-text-color);
        text-decoration: none;

        &:hover, &:focus{
            color: var(--akcent-color);
        }
    
}

.mob-contacts{
    margin: 0 ;
    padding: 0;
}

.mob-contacts__item:first-child{
  margin-bottom: 32px;
}

.mob-contacts__item:last-child{
    margin-bottom: 64px;
}

.mob-contacts__link--tel{
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--akcent-color);

        margin-bottom: 32px;
}

.mob-contacts__link--mail{
    font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--text-color);
}


.mob-socials{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 0;
    padding-left: 0;

}

.mob-socials__item:not(:last-child) .mob-socials__link{
    display: flex;
     padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-socials__link{
    
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--akcent-color);
    
}

